body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.tileVerticalContainer {
  height:30px;
  display:inline-block
}
.tileVerticalContainerMobile {
  height:30px;
  display:inline-block
}

.tileVertical {
  margin: -100% 0 -100% 0;
  transform-origin: 100% 100%;
  display:list-item;
}

.tileHorizontal {
  margin: 0 -100% 0 -100%;
  overflow:hidden
}

.tileHorizontalContainer {
  width:34px;
  height:50px;
  display:inline-block;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  display: inline-block;
  white-space: nowrap;
  transform-origin: 0 0;
}
.rotateMinus90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  white-space: nowrap;
  transform-origin: 100% 0;
}

.zeroPadding {
  padding: 0 !important;
}

.selectedTile {
  border-color: rgba(85,55,188,.75);
  border-style: dashed;
}
.selectedTile img{
  opacity:0.4;
}

/*end home page styles*/

/*start flex css for tiles*/
.flexTilesContainer{
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
}

.flexTiles{
  height: 50px;
  width: 36px;
  background-position:center;
  background-repeat: no-repeat;
}
/*end flex css for tiles*/

.remainingTileHeader{
  padding-left: 0 !important;
}
